.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}